#foci {
    font-weight: bold;
    font-style: italic;
}

h1 {
    font-weight: normal;
}

p {
    font-size: 10px;
}

#football {
    /* font-size: 50px; */
    /* font-size: 250%; */
    font-size: 2.5em;
    background-color: lightblue;
    display: inline-block;
    /* width: 50%; */
    /* width: 0.5em; */
}

html {
    font-size: 2px;
}

#futball {
    color: red;
    font-size: 2.5rem;
}

#usa {
    font-variant: small-caps;
}

#ifab {
    color: blue;
    /* monospace: egyforma szelessegu betuk */
    /* serif: talpas */
    /* sans-serif: talpatlan */
    /* cursive: kezirasos */
    /* fantasy: "fantazia" -> egyeb */
    font-family: 'Courier New', Courier, monospace;
    font-family: "Rubik Iso", "Courier New", "Arial", fantasy;
}