#foci {
    font-weight: bold;
    font-style: italic;
}

h1 {
    font-weight: normal;
}

p {
    font-size: 10px;
}

#football {
    /* font-size: 50px; */
    /* font-size: 250%; */
    font-size: 2.5em;
    background-color: lightblue;
    display: inline-block;
    /* width: 50%; */
    /* width: 0.5em; */
}

html {
    font-size: 2px;
}

#futball {
    color: red;
    font-size: 2.5rem;
}

#usa {
    font-variant: small-caps;
}

#ifab {
    color: blue;
    /* monospace: egyforma szelessegu betuk */
    /* serif: talpas */
    /* sans-serif: talpatlan */
    /* cursive: kezirasos */
    /* fantasy: "fantazia" -> egyeb */
    font-family: 'Courier New', Courier, monospace;
    font-family: "Rubik Iso", "Courier New", "Arial", fantasy;
}

#labsport {
    /* betukoz: ritkitas, surites */
    letter-spacing: 5px;
    letter-spacing: -1.5px;
}

/* p::first-letter {
    color: red;
    font-family: "Comic Sans MS";
    initial-letter: 3;
} */

p {
    margin: 40px 0px;
}

#kozepso {
    /* sorkoz */
    line-height: 1.25em;
    /* left, right, center, jusfity */
    text-align: justify;
}

#fifa {
    /* uppercase, lowercase, capitalize */
    text-transform: capitalize;
}

h1 {
    font-size: 28px;
    text-align: center;
    /* background-color: yellow; */
    /* text-decoration-line: underline;
    text-decoration-color: green;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px; */
    text-decoration: 2px line-through red dashed;
}

