/* 
block: hr, h1-h6, p, div
inline: a, b, i, u, span
inline-block: img
*/

img {
    width: 300px;
    border: 5px dotted purple;
    margin: auto;
}

p {
    background-color: yellow;
    width: 40%;
    margin: 10px auto;
}

div {
    background-color: lightblue;
    width: 100px;
    height: 40px;
    border: 1px solid black;
}

/* inline:
1. Merete csak akkora, hogy a tartalom pont elferjen
--> nem adhato width, height
2. Egymas melle kerulnek (egy sorba)
*/
.egysoros {
    display: inline;
}

/* block:
1. Teljes teret kitolti
2. Egymas alatt jelenik meg
*/
.tobbsoros {
    display: block;
}

/* inline-block:
1. Meretezheto (block)
2. Egy sorba kerulnek az elemek
*/
.vegyes {
    display: inline-block;
}

.nincsitt {
    display: none;
}