body {
    background-color: lightblue;
}

#piros {
    background-color: red;
    width: 150px;
}

#kek {
    background-color: blue;
    width: 75%;
}

#felso_doboz {
    background-color: lightgray;
    width: 50%;
}

#zold {
    background-color: green;
    /* vw: view width */
    width: 75vw;
}

#lila {
    background-color: purple;
    height: 100px;
}

#citrom {
    background-color: yellow;
    height: 20vh;
}






